!*.gitignore
tmp
.DS_Store
*.pyc
*.bak
*.pyc
.*.swp
.*.swo
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
*emacs.d/auto-save-list
*emacs.d/backups
*emacs.d/plugins/extra
*emacs.d/elpa
*emacs.d/smex-items
*emacs.d/places
*emacs.d/org-clock-save.el
*emacs.d/my-autoload.el
*emacs.d/url
*emacs.d/ac-comphist.dat
*emacs.d/eshell/history
*emacs.d/eshell/history
*emacs.d/ido.last
*emacs.d/recentf
playbooks/files/netrc
