[submodule "plugins/python-mode"]
	path = plugins/python-mode
	url = git://github.com/emacsmirror/python-mode.git
[submodule "emacs.d/plugins/python-mode"]
	path = emacs.d/plugins/python-mode
	url = git://github.com/emacsmirror/python-mode.git
[submodule "emacs.d/plugins/edts"]
	path = emacs.d/plugins/edts
	url = https://github.com/tjarvstrand/edts.git
